@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

body {
  font-family: "Quicksand";
  background-color: #ffece3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container {
  width: 350px;
  height: 936px;
  background: linear-gradient(to top right, #181930 50%, #3b3c58),
    linear-gradient(220deg, transparent 75%, #f5b300);
  /* border-radius: 40px; */
  /* box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1); */
  overflow: hidden;
  margin-top: -33px;
}

span.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #4f3c75;
}

div.menu {
  width: 18px;
  height: 2px;
  background-color: #4f3c75;
  border-radius: 10px;
}

div.menu::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 6px;
  width: 10px;
  height: 2px;
  border-radius: 10px;
  background-color: #4f3c75;
}

span.name {
  color: #d7cee9;
  font-weight: 700;
  font-size: 25px;
}

span.item {
  color: #4f3c75;
  font-size: 0.8em;
  font-weight: 600;
}

span.active {
  color: white;
  background-color: #4f3c75;
  border-radius: 30px;
}

div.menu-label {
  color: #261738;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.bg-col-1 {
  background-color: #ffccb4;
}

.big {
  height: 170px;
  border-radius: 20px;
}

div.medium {
  height: 155px;
  border-radius: 20px;
}

div.medium2 {
  height: 155px;
  border-radius: 20px;
  margin-top: -25px;
}

.bg-col-2 {
  background-color: #d5d7ff;
}

div.small {
  height: 148px;
  border-radius: 20px;
}

div.small2 {
  height: 148px;
  border-radius: 20px;
  margin-top: -22px;
}

.bg-col-3 {
  background-color: #ffefd7;
}

.bg-col-4 {
  background-color: #fbe4e7;
}
